<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header bg-transparent">
                            <h3 class="mb-0">Overview</h3>
                        </div>
                        <div  [formGroup]="menuForm"  class="card-body" *ngIf="menus$ | async as menus">
                            <mat-form-field >
                                <mat-label>Menu</mat-label>
                                <mat-select formControlName="menuId" *ngIf="menus[0]._id" (selectionChange)="onMenuChange($event)">
                                  <mat-option *ngFor="let menu of menus" [value]="menu._id">
                                      {{ menu.title }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                <!-- This is the tree node template for leaf nodes -->
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                  <!-- use a disabled button to provide padding for tree leaf -->
                                  <button mat-icon-button disabled></button>
                                  <a *ngIf="node.level == 0"  routerLink="/">{{node.name}}</a>
                                  <a *ngIf="node.level == 1"  routerLink="/">{{node.name}}</a>
                                </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                  <button mat-icon-button matTreeNodeToggle
                                          [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                  </button>
                                  <a *ngIf="node.level == 0"  routerLink="/">{{node.name}}</a>
                                  <a *ngIf="node.level == 1"  routerLink="/">{{node.name}}</a>
                                </mat-tree-node>
                              </mat-tree>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>